{
  "p8s": {
    "userId" : "9999999",
    "apiKey": "glc___YOUR_API_KEY__==",
    "url": "https://influx-prod-99-us-east-0.grafana.net/api/v1/push/influx/write"
  },
  "graphite": {
    "userId": "9999999",
    "apiKey": "glc_eglc___YOUR_API_KEY__fQ==",
    "url": "https://graphite-prod-99-us-east-0.grafana.net/graphite/metrics"
  }
}